#About
  .flex-container
    section.Yalin.bordes
      h2 Sobre mí:
      p
        | Hola soy #{name}, actualmente soy un estudiante de Diseño en Medios 
        | Interactivos en la Universidad San Francisco de Quito. Soy oriundo de 
        | la Amazonía Ecuatoriana, específicamente de Archidona, Napo.
      p
        | De entre mis hobbies disfruto mucho las salidas al aire libre, como 
        | montañismo, senderismo o ir a ciclear, también me encanta el teatro 
        | y es algo que práctico desde hace un tiempo.
    
    aside.Yalin2.bordes
      img.imgresponsive(src='/images/yalin.png' alt='Yalik Tapuy')
  
  .flex-container
    section.Trabajardin.bordes
      h2 Experiencia Laboral:
      ul.list-unstyled
        li
          i.bi.bi-check-circle-fill.text-success.me-2
          | Editor para el canal de youtube: Yojo Pool
        li
          i.bi.bi-check-circle-fill.text-success.me-2
          | Editor para el canal de youtube: Chilleando con el donas
        li
          i.bi.bi-check-circle-fill.text-success.me-2
          | Cajero y personal de carga: Bodega San Francisco
        li
          i.bi.bi-check-circle-fill.text-success.me-2
          | Director de Doblaje para el corto animado: Pozole Man y Chilatin
    
    aside.Trabajardin2.bordes
      img.imgresponsive(src='/images/trabajardin.png' alt='')