section#Home.hero
  .container
    hr
    h2.texto-centrado.espaciado-hero HOLA SOY YALIKSITO
    .text-center
      h3= profession
    hr
    .text-center
      img.imgresponsive3.sombras.animate__animated.animate__wobble.bordes(
        src='/images/dibujo.png'
        alt='Yalik Tapuy'
      )
    .text-center
      p.espaciado-p
        | Entusiasta de la programación y los videojuegos, entre mis trabajos 
        | siempre procuro dejar algo que divierta a mis clientes.
        br
        | Espero que tú también te diviertas viendo mis trabajos