.portfolio-category
  h2.category-title Diseño
  
  //- Revista
  .project-card
    .project-header
      h3 Revista Amateur - Game Awards
      p.project-tech Photoshop • InDesign • Editorial Design
    
    .project-body
      p.project-description
        | Revista conceptual aplicando principios de diseño editorial: 
        | modularidad, tipografía, composición y cromática.
      
      .swiper.project-carousel
        .swiper-wrapper
          .swiper-slide
            img(src='/images/Revista/7.jpg' alt='Portada')
            .slide-caption Portada
          .swiper-slide
            img(src='/images/Revista/0.jpg' alt='Contraportada')
            .slide-caption Contraportada
          .swiper-slide
            img(src='/images/Revista/1.jpg' alt='Página 1')
            .slide-caption Plana de candidatos 1
          .swiper-slide
            img(src='/images/Revista/2.jpg' alt='Página 2')
            .slide-caption Plana de candidatos 1 (cont.)
          .swiper-slide
            img(src='/images/Revista/3.jpg' alt='Página 3')
            .slide-caption Plana de candidatos 2
          .swiper-slide
            img(src='/images/Revista/4.jpg' alt='Página 4')
            .slide-caption Plana de candidatos 2 (cont.)
          .swiper-slide
            img(src='/images/Revista/5.jpg' alt='Página 5')
            .slide-caption Plana de candidatos 3
          .swiper-slide
            img(src='/images/Revista/6.jpg' alt='Página 6')
            .slide-caption Plana de candidatos 3 (cont.)
        
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination
  
  //- Montaje Birdman
  .project-card
    .project-header
      h3 Montaje - Birdman
      p.project-tech Photoshop • Illustrator • Composición
    
    .project-body
      p.project-description
        | Serie de montajes fotográficos trabajando vectores, máscaras de 
        | fusión, tipografía y composición avanzada.
      
      .swiper.project-carousel
        .swiper-wrapper
          .swiper-slide
            img(src='/images/Montaje/birdman_xxlg.jpg' alt='Poster Original')
            .slide-caption Poster Original
          .swiper-slide
            img(src='/images/Montaje/poster.png' alt='Poster Montaje')
            .slide-caption Mi Montaje
          .swiper-slide
            img(src='/images/Montaje/0.jpg' alt='Dossier 1')
            .slide-caption Dossier - Página 1
          .swiper-slide
            img(src='/images/Montaje/1.jpg' alt='Dossier 2')
            .slide-caption Dossier - Página 2
          .swiper-slide
            img(src='/images/Montaje/Montaje - Mockup 2.jpg' alt='Mockup')
            .slide-caption Mockup Final
        
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination
  
  //- Ilustraciones
  .project-card
    .project-header
      h3 Ilustraciones Diversas
      p.project-tech Adobe Illustrator • Photoshop • Digital Art
    
    .project-body
      .swiper.project-carousel
        .swiper-wrapper
          .swiper-slide
            img(src='/images/isotipo blanco y negro.png' alt='Isotipo')
            .slide-caption Isotipo de Yalik Studios
          .swiper-slide
            img(src='/images/Ilustración/Bahavad Gita Caapítulo 17.png' alt='Cómic')
            .slide-caption Cómic - Bahavad Gita Capítulo 17
          .swiper-slide
            img(src='/images/Ilustración/stickers.jpg' alt='Stickers')
            .slide-caption Colección de Stickers
          .swiper-slide
            img(src='/images/Ilustración/Pollinet gei.png' alt='Retrato')
            .slide-caption Retrato Estilo Anime
        
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination