.portfolio-category
  h2.category-title Doblaje
  
  .project-card
    .project-header
      h3 Demo de Doblaje Profesional 
      p.project-tech Actuación de Voz y Doblaje
    
    .project-body
      p.project-description
        | Demo Reel con muestras de mi trabajo como actor de doblaje, destacando mi versatilidad y capacidad para interpretar una amplia gama de personajes. 
        | Este reel demuestra mi pasión por el doblaje y mi compromiso con la excelencia en cada proyecto.
      
      .video-wrapper
        .video-container-custom
          iframe(
            src="https://www.youtube.com/embed/aVVyK3iA-JE?si=EPoUaNsA0mA20zH3"
            frameborder='0'
            allowfullscreen
            loading='lazy'
          )
      
      .project-credits
        h4 Detalles Adicionales
        .credits-grid
          div
            strong Características de Voz
            ul
              li Edad: 22 años.
              li Rango de Voz: 20 - 35 años, voz para adolescentes y adultos jóvenes.
              li Idiomas: Español (nativo), Inglés (intermedio a avanzado).
          div
            strong Mi Home Studio
            ul
              li Control de Audio: Interfaz Focusrite Vocaster One
              li Entrada de Audio: Micrófono Rhode NT1 Signature Series
              li Monitoreo: Audífonos Sennheiser HD 280 Pro
  
  .project-card
    .project-header
      h3 Instalación Inmersiva - Dreamlights
      p.project-tech Actuación de Voz
    
    .project-body
      p.project-description
        | Trabajo de actuación de voz para la instalación inmersiva "Dreamlights", un proyecto artístico del animador Charlie Salazar. Este proyecto fue presentado en la Universidad San Francisco de Quito, como parte del Animation Showcase de la Carrera de Animación Digital.
      
      .video-wrapper
        .custom-video-player
          video(controls)
            source(src='/images/Dreamlights.mp4' type='video/mp4')
            | Tu navegador no soporta el elemento de video.
      
      .project-credits
        h4 Créditos
        ul
          li Animador: Charlie Salazar.
          li Watchman: Yalik Amilcar Tapuy Alvarado.

  .project-card
    .project-header
      h3 Pozole Man y Chilatín
      p.project-tech Dirección de Voz
    
    .project-body
      p.project-description
        | Director de doblaje en proyecto animado para un concurso en Guerrero,México.
      
      .video-wrapper
        .custom-video-player
          video(controls)
            source(src='/images/Pozole Man y Chilatin.mp4' type='video/mp4')
            | Tu navegador no soporta el elemento de video.
      
      .project-credits
        h4 Créditos
        ul
          li Director de Doblaje: Yalik Amilcar Tapuy Alvarado
          li Pozole Man: Eric Muñoz Jiménez
          li Chilatín, Extras: Andrés Jair Mendoza Díaz:
          li Narrador: Yalik Amilcar Tapuy Alvarado.