header.header.sticky
  nav.navbar.bordes
    a(href='#Home' style='text-decoration:none')
      .navbar-logo
        img.bordes(src='/images/isotipo color.png' width='60' alt='')
        img(src='/images/Yalik_Monocromatico 2.png' height='70' alt='')
    
    #toggle.button_container
      span.top
      span.middle
      span.bottom
    
    #overlay.overlay
      nav.overlay-menu
        ul
          li: a(href='#Portafolio') Portafolio
          li: a(href='#About') Sobre mí
          li: a(href='#Contactos') Contacto